.container {
  display: flex;

  h4 {
    margin: 0;
  }

  .thumbnail {
    width: 300px;
    height: 250px;
    object-fit: cover;
  }
  
  .body {
    padding: 6px 16px;
    max-height: 250px;
    overflow-x: scroll;

    .title {
      color: red;
    }

    .like,
    .dislike {
      width: 24px;
    }

    .likebig,
    .dislikebig {
      width: 36px;
    }

    .description {
      font-size: 13px;
      line-height: 22px;
      white-space: break-spaces;
    }
  }
}
